* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}

body {
  position: relative;
}

.orange {
  position: absolute;
  top: -10vh;
  right: 0;
  z-index: -1;
  width: 55vw;
  height: 150vh;
}

header nav {
  width: 100%;
}
header nav ul {
  padding: 2rem;
  width: 70%;
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}
header nav ul li {
  font-size: 2rem;
}
header nav ul li a {
  color: black;
  text-decoration: none;
}

main {
  display: flex;
  flex-wrap: wrap;
}
main section.left {
  flex: 3 1 500px;
}
main section.left h1 {
  font-size: 2rem;
  color: #e08958;
}
main section.left p {
  font-size: 1.25rem;
  padding: 1rem 0rem;
}
main section.right {
  flex: 1 1 600px;
  position: relative;
}
main section.right img {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  position: absolute;
  top: 50vh;
  right: 25vw;
  transform: translateY(-50%);
}
main section.table {
  flex: 3 1 500px;
  padding: 1rem;
}
main section.table table {
  border-collapse: collapse;
}
main section.table table tr {
  border-bottom: 2px solid gray;
  transition: all 0.25s ease;
}
main section.table table tr td {
  padding: 1rem;
}
main section.table table tr:hover {
  background-color: rgb(214, 199, 199);
}
main section.picture {
  flex: 1 1 600px;
  position: relative;
}
main section.picture img {
  width: 30vw;
}
main section.picture div.orangeRect {
  width: 30vw;
  height: 85vh;
  background-color: rgb(238, 204, 37);
  position: absolute;
  top: 60px;
  left: 60px;
  z-index: -1;
}
main section.form {
  flex: 1 1 600px;
}
main section.form form {
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
main section.form form div {
  margin: 0.5rem;
}
main section.form form div label {
  font-size: 1.5rem;
  margin-right: 1rem;
}
main section.form form div input,
main section.form form div textarea {
  background-color: rgb(205, 190, 190);
  color: black;
  font-size: 1.25rem;
  padding: 0.5rem 0.25rem;
  border: none;
  width: 80%;
}
main section.form form div textarea {
  vertical-align: top;
}
main section.form form button {
  align-self: center;
  background-color: rgb(205, 190, 190);
  color: black;
  border: none;
  cursor: pointer;
  padding: 0.75rem 1.5rem;
  font-size: 2rem;
  border-radius: 10px;
}
main div.line {
  background-color: black;
  width: 2px;
}
main section.contact {
  flex: 1 1 500px;
  display: flex;
  align-items: center;
}
main section.contact div.content h2 {
  margin: 1rem 0.5rem;
}

footer a {
  padding: 1rem;
}

.active {
  color: #e08958;
}

@media screen and (max-width: 1100px) {
  .orange {
    opacity: 0.5;
  }
  header nav ul {
    width: 100%;
    flex-direction: column;
  }
  header nav ul li {
    padding: 1rem 0rem;
    border-bottom: 2px solid gray;
  }
  main section.right {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main section.right img {
    position: static;
    transform: none;
    width: 30vw;
    height: 30vw;
  }
  main section.picture {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main section.picture img {
    width: 50vw;
  }
  main section.picture div.orangeRect {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */